absl-py==2.4.0
altair==6.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.109.2
anyio==4.13.0
arch @ file:///D:/bld/arch-py_1761050521402/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
astunparse==1.6.3
attrs==25.4.0
beautifulsoup4==4.14.3
blinker==1.9.0
boto3==1.42.63
botocore==1.42.63
cachetools==7.0.2
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.4
choreographer==1.3.0
click @ file:///C:/miniconda3/conda-bld/click_1764332349001/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
contourpy @ file:///D:/bld/contourpy_1744743084386/work
cryptography==48.0.0
curl_cffi==0.15.0
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
dacite==1.9.2
debugpy @ file:///D:/bld/bld/rattler-build_debugpy_1758162070/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
distro==1.9.0
docstring_parser==0.18.0
et_xmlfile==2.0.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1746947292760/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
Faker==40.5.1
fastapi==0.115.0
fastjsonschema==2.21.2
filetype==1.2.0
Flask==3.1.3
flatbuffers==25.12.19
fonttools==4.60.1
fsspec @ file:///C:/Users/task_176889823622047/croot/fsspec_1768898367226/work
gast==0.7.0
gitdb==4.0.12
GitPython==3.1.46
google-ai-generativelanguage==0.6.15
google-api-core==2.31.0
google-api-python-client==2.197.0
google-auth==2.53.0
google-auth-httplib2==0.4.0
google-generativeai==0.8.6
google-pasta==0.2.0
googleapis-common-protos==1.75.0
greenlet==3.3.1
grpcio==1.80.0
grpcio-status==1.71.2
h11==0.16.0
h5py==3.14.0
halo==0.0.31
httpcore==1.0.9
httplib2==0.31.2
httptools==0.8.0
httpx==0.28.1
idna==3.11
ImageHash==4.3.2
ImageIO==2.37.2
imbalanced-learn==0.14.1
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
ipykernel @ file:///D:/bld/bld/rattler-build_ipykernel_1761567966/work
ipython @ file:///D:/bld/bld/rattler-build_ipython_1748711254/work
ipywidgets==8.1.8
itsdangerous==2.2.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2==3.1.6
jiter==0.15.0
jmespath==1.1.0
joblib==1.4.2
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///D:/bld/bld/rattler-build_jupyter_core_1760643889/work
jupyterlab_widgets==3.0.16
kaleido==1.3.0
keras==3.12.1
kiwisolver @ file:///D:/bld/bld/rattler-build_kiwisolver_1762488749/work
lazy_loader==0.4
libclang==18.1.1
lime==0.2.0.1
llvmlite==0.45.1
log-symbols==0.0.14
logistro==2.0.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.0
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1761214490209/work
mdurl==0.1.2
minify_html==0.18.1
ml_dtypes==0.5.4
multimethod==1.12
multitasking==0.0.13
munkres==1.1.4
namex==0.1.0
narwhals==2.17.0
nbformat==5.10.4
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx==3.4.2
nltk @ file:///C:/miniconda3/conda-bld/nltk_1761121234467/work
numba==0.62.1
numpy==1.26.4
openai==2.41.0
opencv-python==4.13.0.92
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.19.0
orjson==3.11.9
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas==2.2.2
parquet_tools==0.2.16
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1755974222/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_patsy_1760998269/work
pdfminer.six==20260107
pdfplumber==0.11.10
peewee==4.0.6
phik==0.12.5
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow==12.0.0
platformdirs==4.9.6
plotly==6.8.0
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1756321756983/work
proto-plus==1.28.0
protobuf==5.29.6
psutil @ file:///D:/bld/bld/rattler-build_psutil_1762092906/work
psycopg2-binary==2.9.9
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
puremagic==1.30
pyarrow==23.0.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.9.2
pydantic_core==2.23.4
pydeck==0.9.1
Pygments==2.20.0
pyparsing==3.2.5
pypdf==6.14.2
PyPDF2==3.0.1
pypdfium2==5.11.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pytz_1777892201/work
PyWavelets==1.8.0
pywin32 @ file:///D:/bld/bld/rattler-build_pywin32_1756487147/work
PyYAML==6.0.3
pyzmq @ file:///D:/bld/bld/rattler-build_pyzmq_1757387021/work
referencing==0.37.0
regex @ file:///C:/miniconda3/conda-bld/regex_1765378783231/work
requests==2.34.2
rich==14.3.3
rpds-py==0.30.0
s3transfer==0.16.0
scikit-image==0.25.2
scikit-learn==1.5.2
scikit-surprise @ file:///D:/bld/scikit-surprise_1716198973589/work
scipy==1.15.3
seaborn==0.13.2
simplejson==4.1.1
six==1.17.0
sklearn-compat==0.1.5
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.8.4
spinners==0.0.24
SQLAlchemy==2.0.34
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
starlette==0.38.6
statsmodels==0.14.5
streamlit==1.55.0
tabula-py==2.10.0
tabulate==0.9.0
tenacity==9.1.4
tensorflow==2.21.0
termcolor==3.3.0
threadpoolctl==3.6.0
thrift==0.16.0
tifffile==2025.5.10
toml==0.10.2
tornado @ file:///D:/bld/tornado_1756854837538/work
tqdm @ file:///C:/miniconda3/conda-bld/tqdm_1762863407046/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
typeguard==4.5.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1777068919240/work
unicodedata2 @ file:///D:/bld/unicodedata2_1763054693050/work
uritemplate==4.2.0
urllib3==2.7.0
uvicorn==0.30.6
visions==0.8.1
watchdog==6.0.0
watchfiles==1.2.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1758622279606/work
websockets==16.0
Werkzeug==3.1.6
widgetsnbextension==4.0.15
wordcloud @ file:///D:/bld/wordcloud_1769263528573/work
wrapt==2.1.2
xgboost==3.2.0
ydata-profiling==4.18.4
yfinance==1.4.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
